/.env
/vendor/
/node_modules/
/composer.lock
/symfony.lock

/etc/build/*
!/etc/build/.gitkeep

/tests/Application/yarn.lock

/docker-compose.override.y*ml
/bin-docker/
/deploy/
/docker/

/yarn-error.log
/supervisord.log
