includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        containerXmlPath: tests/Application/var/cache/test/Tests_ThreeBRS_SyliusPaymentRestrictionPlugin_KernelTestDebugContainer.xml
   
    ignoreErrors:
            - '#Trait ThreeBRS\\SyliusPaymentRestrictionPlugin\\Model\\PaymentMethodRestrictionTrait is used zero times#'
            - '#Instanceof between .* will always evaluate to true#'
            - '#implicitly nullable#'


    excludePaths:
        - 'tests/'
    
  

