services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: false

    ThreeBRS\SyliusPaymentRestrictionPlugin\Model\ThreeBRSSyliusResolvePaymentMethodForOrder:
        arguments:
            $zoneMatcher: "@sylius.matcher.zone"

    ThreeBRS\SyliusPaymentRestrictionPlugin\PaymentResolver\PaymentMethodsResolver:
        tags:
            - name: "sylius.payment_method_resolver"
              type: "channel_based"
              label: "sylius.payment_methods_resolver.channel_based"
              priority: 100
        arguments:
            $paymentMethodRepository: "@sylius.repository.payment_method"
            $paymentOrderResolver: '@ThreeBRS\SyliusPaymentRestrictionPlugin\Model\ThreeBRSSyliusResolvePaymentMethodForOrder'

    ThreeBRS\SyliusPaymentRestrictionPlugin\Form\Extension\RestrictionPaymentMethodExtension:
        arguments:
            $shippingMethodClass: "%sylius.model.shipping_method.class%"
        tags:
            - {
                  name: form.type_extension,
                  extended_type: Sylius\Bundle\PaymentBundle\Form\Type\PaymentMethodType,
              }

    ThreeBRS\SyliusPaymentRestrictionPlugin\Fixture\PaymentMethodRestrictionFixture:
        arguments:
            $paymentMethodRepository: "@sylius.repository.payment_method"
            $zoneRepository: "@sylius.repository.zone"
            $shippingMethodRepository: "@sylius.repository.shipping_method"
            $entityManager: "@doctrine.orm.entity_manager"
        tags:
            - { name: sylius_fixtures.fixture }
