{% set form = hookable_metadata.context.form %}

<div class="mb-4">
    <h4 class="mb-3 border-bottom pb-2">{{ 'sylius.ui.details'|trans }}</h4>
    {{ form_errors(form) }}


    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.zone) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.shippingMethods) }}
        </div>
    </div>
</div>